.message
  .upper-info
    %p.upper-info__user username1
    %p.upper-info__date 2019/04/19(Fri) 12:22:19
  %p.message__text sumple message
.message
  .upper-info
    %p.upper-info__user username2
    %p.upper-info__date 2019/04/19(Fri) 12:29:34
  %p.message__text sumple chat