* {
  box-sizing: border-box;
}

div {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: block;
  .anounce {
    color: $font-color-white;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
    width: 100vw;
    background-color: $bg-color-blue;
  }
  .wrapper {
    display: block;
  }
  .chat-main {
    width: calc(100vw - 300px);
    float: left;
  }
}
