footer {
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 100vw - 300px;
  #message-form {
    height: 50px;
    #message-field {
      align-self: center;
      padding: auto, 10px;
      color: $color-lgray;
      font-size: 16px;
    }
    #file-upload {
      align-self: center;
    }
    #message-submit {
      align-self: center;
      background-color: $color-lbule;
      padding-left: 15px;
    }
  }
}