.main {
  box-sizing: border-box;
  display: flex;
  height: calc(100vh - 190px);
  flex-direction: column;
  align-content: flex-start;
  padding: 6px, 40px, 0px;
  background-color: $color-white;
  &__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-top: 40px;
    &__top {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      &__username {
        box-sizing: border-box;
        color: $color-lgray;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        box-sizing: border-box;
        @include font-gray;
      }
    }
    &__message {
      box-sizing: border-box;
      padding-top: 10px;
      color: $color-lgray;
      font-size: 14px;
    } 
  }
}