.nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  height: 100vh;
  width: 300px;
  padding: auto, 20px;
  background-color: $color-dblue;
  &-top {
    box-sizing: border-box;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    font-weight: bold;
    justify-content: space-between;
    background-color: $color-ddblue;
    #username {
      box-sizing: border-box;
      @include font-white;
      font-size: 16px;
    }
    &__buttons {
      box-sizing: border-box;
      display: flex;
      flex-direction: row-reverse;
      #new-group-button {
        box-sizing: border-box;
        align-self: flex-start;
        color: $color-fwhite;
        text-decoration: none;
      }
      #account-edit-button {
        box-sizing: border-box;
        align-self: flex-start;
        color: $color-fwhite;
        text-decoration: none;
      }
    }
  }
  &-bottom {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: $color-dblue;
    padding: 20px, 20px, 0px;
    &__group {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      &__name {
        align-self: flex-start;
        box-sizing: border-box;
        @include font-white;
        padding-top: 20px;
        font-size: 15px;
      }
      &__status {
        align-self: flex-start;
        box-sizing: border-box;
        @include font-white;
        padding-top: 5px;
        padding-bottom: 40px;
        font-size: 11px;
      }
    }
  }
}