$border-color: #eeeeee;
$color-ddblue: #253141;
$color-dblue: #2f3e51;
$color-white: #fafafa;
$color-lbule: #38aef0;
$color-lgray: #434a54;
$color-fwhite: #ffffff;

@mixin font-white {
  color: #ffffff;
  font-weight: bold; 
}

@mixin font-gray {
  color: #999999;
  font-size: 12px;
}
