!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# %script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" }

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
