<body>
  <div claas="anounce">
    <p>グループを作成しました</p>
  </div>
  <header>
    <p class="headerTitle">sumple group1</p>
    <p class="headerCaption">member:user3,user2,user1</p>
    <div class="headerBottun">edit</div>
  </header>
  <nav class="nav">
    <div class="nav__top">
      <p id="#username">user1</p>
      <div class="nav__top__buttons">
        <a href="#" id="#newGroupButtonIcon"><img src="#" alt="newGroupButtonIcon"></a>
        <a href="#" id="accountEditButton"><img src="#" alt="accountEditButton"></a>
      </div>
    </div>
    <div class="nav__bottom">
      <div class="nav__bottom__group">
        <p class="nav__bottom__group__name">sumple group1</p>
        <p class="nav__bottom__group__status">まだメッセージがありません</p>
      </div>
      <div class="nav__bottom__group">
        <p class="nav__bottom__group__name">sumple group2</p>
        <p class="nav__bottom__group__status">画像が投稿されています</p>
      </div>
    </div>
  </nav>
  <div class="main">
    <div class="main__container">
      <p class="main__container__username">user2</p>
      <p class="main__container__date">2019/04/10(Wed) 11:40:18</p>
      <p class="main__container__message">sumple chat</p>
    </div>
    <div class="main__container">
      <p class="main__container__username">user1</p>
      <p class="main__container__date">2019/04/10(Wed) 11:54:33</p>
      <p class="main__container__message">sumple message</p>
    </div>
  </div>
  <footer>
    <form method="post" action="#" enctype="multipart/form-data" id="#messageForm">
      <input type="text" name="message" value="type a message">
      <label for="#fileUpload"><img src="#" alt="fileUploadButton"></label>
      <input type="file" id="#fileUpload">
      <input type="submit" value="Send" class="bgcolor-blue">
    </form>
  </footer>
</body>