<body>
  <div claas="anounce">
    <p>グループを作成しました</p>
  </div>
  <header>
    <p class="header-title">sumple group1</p>
    <p class="header-caption">member:user3,user2,user1</p>
    <div class="header-bottun">edit</div>
  </header>
  <nav>
    <div class="nav-top">
      <p id="#username">user1</p>
      <div class="nav-top__buttons">
        <a href="#" id="#new-group-button"><img src="#" alt="new-group-button-icon"></a>
        <a href="#" id="account-edit-button"><img src="#" alt="account-edit-button-icon"></a>
      </div>
    </div>
    <div class="nav-bottom">
      <div class="nav-bottom__group">
        <p class="nav-bottom__group__name">sumple group1</p>
        <p class="nav-bottom__group__status">まだメッセージがありません</p>
      </div>
      <div class="nav-bottom__group">
        <p class="nav-bottom__group__name">sumple group2</p>
        <p class="nav-bottom__group__status">画像が投稿されています</p>
      </div>
    </div>
  </nav>
  <div class="main">
    <div class="main__container">
      <p class="main__container__username">user2</p>
      <p class="main__container__date">2019/04/10(Wed) 11:40:18</p>
      <p class="main__container__message">sumple chat</p>
    </div>
    <div class="main__container">
      <p class="main__container__username">user1</p>
      <p class="main__container__date">2019/04/10(Wed) 11:54:33</p>
      <p class="main__container__message">sumple message</p>
    </div>
  </div>
  <footer>
    <form method="post" action="#" enctype="multipart/form-data" id="#message-form">
      <input type="text" name="message" value="type a message">
      <label for="#file-upload"><img src="#" alt="file-upload-button"></label>
      <input type="file" id="#file-upload">
      <input type="submit" value="Send">
    </form>
  </footer>
</body>